# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [15]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia = pd.Series([-0.08, -0.27, -0.12, -0.03, 0.26, 0.40, 1.02])
anomalia

0   -0.08
1   -0.27
2   -0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [14]:

# seu código aqui
anoindex =  pd.Series([-0.08, -0.27, -0.12, -0.03, 0.26, 0.40, 1.02],
                      index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])

anoindex

1900   -0.08
1920   -0.27
1940   -0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [16]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturas_Series = pd.Series(dic_temperaturas)
temperaturas_Series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))
# seu código aqui

arr_df = pd.DataFrame(arr)
arr_df

[[110.96555231  83.04642405  88.89698339]
 [106.77045517  99.47908585  97.5950083 ]
 [111.06034057 102.86632485  97.67359102]
 [104.06032051  93.60941185 112.58978393]
 [ 93.28764619 103.12170386 112.3436792 ]
 [ 99.54663868 107.53185688  88.89174313]
 [101.73036932  96.8376226   91.61675506]
 [ 93.95413118  97.3301171   92.52384719]
 [ 90.40141113  99.22271182  91.4700268 ]
 [102.46851989  96.32272718 109.16921452]
 [100.60251987 104.68490374  96.25425231]
 [121.07694748 111.22645491 112.56031893]
 [107.23429956  92.91823762 107.11714198]
 [100.08087858  89.73222064  98.50988045]
 [109.52237607 104.01459245 101.04302664]
 [103.20946831 108.9805685   87.34720478]
 [107.99262268  96.71005418 102.61311392]
 [ 89.73235156 109.65464704 108.19862393]
 [ 98.34088016 100.38799617 102.01184934]
 [101.10563385 100.51756407  91.61216976]]

             0           1           2
0   110.965552   83.046424   88.896983
1   106.770455   99.479086   97.595008
2   111.060341  102.866325   97.673591
3   104.060321   93.609412  112.589784
4    93.287646  103.121704  112.343679
5    99.546639  107.531857   88.891743
6   101.730369   96.837623   91.616755
7    93.954131   97.330117   92.523847
8    90.401411   99.222712   91.470027
9   102.468520   96.322727  109.169215
10  100.602520  104.684904   96.254252
11  121.076947  111.226455  112.560319
12  107.234300   92.918238  107.117142
13  100.080879   89.732221   98.509880
14  109.522376  104.014592  101.043027
15  103.209468  108.980569   87.347205
16  107.992623   96.710054  102.613114
17   89.732352  109.654647  108.198624
18   98.340880  100.387996  102.011849
19  101.105634  100.517564   91.612170

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [23]:
#seu código aqui
arr_df = arr_df.rename(columns={0: 'x1', 1: 'x2', 2: 'x3'})
arr_df = arr_df.set_index(pd.Index(range(1, 21)))
arr_df

            x1          x2          x3
1   110.965552   83.046424   88.896983
2   106.770455   99.479086   97.595008
3   111.060341  102.866325   97.673591
4   104.060321   93.609412  112.589784
5    93.287646  103.121704  112.343679
6    99.546639  107.531857   88.891743
7   101.730369   96.837623   91.616755
8    93.954131   97.330117   92.523847
9    90.401411   99.222712   91.470027
10  102.468520   96.322727  109.169215
11  100.602520  104.684904   96.254252
12  121.076947  111.226455  112.560319
13  107.234300   92.918238  107.117142
14  100.080879   89.732221   98.509880
15  109.522376  104.014592  101.043027
16  103.209468  108.980569   87.347205
17  107.992623   96.710054  102.613114
18   89.732352  109.654647  108.198624
19   98.340880  100.387996  102.011849
20  101.105634  100.517564   91.612170

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
arr_df['media'] = (arr_df['x1'] + arr_df['x2'] + arr_df['x3']) / 3
arr_df['media']
arr_df

            x1          x2          x3       media
1   110.965552   83.046424   88.896983   94.302987
2   106.770455   99.479086   97.595008  101.281516
3   111.060341  102.866325   97.673591  103.866752
4   104.060321   93.609412  112.589784  103.419839
5    93.287646  103.121704  112.343679  102.917676
6    99.546639  107.531857   88.891743   98.656746
7   101.730369   96.837623   91.616755   96.728249
8    93.954131   97.330117   92.523847   94.602698
9    90.401411   99.222712   91.470027   93.698050
10  102.468520   96.322727  109.169215  102.653487
11  100.602520  104.684904   96.254252  100.513892
12  121.076947  111.226455  112.560319  114.954574
13  107.234300   92.918238  107.117142  102.423226
14  100.080879   89.732221   98.509880   96.107660
15  109.522376  104.014592  101.043027  104.859998
16  103.209468  108.980569   87.347205   99.845747
17  107.992623   96.710054  102.613114  102.438597
18   89.732352  109.654647  108.198624  102.528541
19   98.340880  100.387996  102.011849  100.246909
20  101.105634  100.517564   91.612170   97.745123

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [27]:
# seu código aqui

arr_df['log_med'] = np.log(arr_df['media'])
arr_df

            x1          x2          x3       media   log_med
1   110.965552   83.046424   88.896983   94.302987  4.546513
2   106.770455   99.479086   97.595008  101.281516  4.617904
3   111.060341  102.866325   97.673591  103.866752  4.643109
4   104.060321   93.609412  112.589784  103.419839  4.638797
5    93.287646  103.121704  112.343679  102.917676  4.633929
6    99.546639  107.531857   88.891743   98.656746  4.591647
7   101.730369   96.837623   91.616755   96.728249  4.571905
8    93.954131   97.330117   92.523847   94.602698  4.549686
9    90.401411   99.222712   91.470027   93.698050  4.540077
10  102.468520   96.322727  109.169215  102.653487  4.631359
11  100.602520  104.684904   96.254252  100.513892  4.610296
12  121.076947  111.226455  112.560319  114.954574  4.744537
13  107.234300   92.918238  107.117142  102.423226  4.629114
14  100.080879   89.732221   98.509880   96.107660  4.565469
15  109.522376  104.014592  101.043027  104.859998  4.652626
16  103.209468  108.980569   87.347205   99.845747  4.603626
17  107.992623   96.710054  102.613114  102.438597  4.629264
18   89.732352  109.654647  108.198624  102.528541  4.630141
19   98.340880  100.387996  102.011849  100.246909  4.607636
20  101.105634  100.517564   91.612170   97.745123  4.582363